@use '../../styles/helpers' as *;

.form {

  &__input {
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
    transition: var(--transition-duration);

    &:focus {
      border-color: var(--color-black);
      transition: var(--transition-duration);
    }

    &--light {
      background-color: var(--color-white);
      color: var(--color-black-95);
      border-radius: var(--border-radius-m);
      border-color: var(--color-black-30);
    }

    @include mobile {
      border-radius: var(--border-radius-mobile-m);
    }

    &--text {

    }
  }
}