@use '../../styles/helpers' as *;

.contact {
  display: flex;
  justify-content: space-between;
  gap: fluid(51, 12);

  @include mobile {
    flex-direction: column;
  }

  &__map {
    width: 100%;
    height: fluid(800, 260);
    overflow: hidden;
    border-radius: var(--border-radius-l);

    @include mobile-above {
      margin-bottom: rem(40);
    }

    @include mobile {
      order: 2;
      border-radius: var(--border-radius-m);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: fluid(100, 40);
    width: 100%;

    @include mobile {
      order: 1;
    }

    &--inner {
      display: flex;
      flex-direction: column;
      gap: fluid(50, 12);

      @include mobile {
        & h2 {
          width: 100%;
          text-align: center;
        }
      }
    }
  }

  &__info {

    & ul {
      display: flex;
      flex-direction: column;
      gap: fluid(40, 12);

      & li {
        @include fluid-text(37, 14);

        display: flex;
        align-items: center;
        gap: fluid(32, 16);

        & img {
          width: fluid(36, 13);
          height: auto;
        }
      }

    }

  }

  &__img {
    width: 100%;
    max-width: fluid(640, 342);
    border-radius: var(--border-radius-l) var(--border-radius-l) 0 0;
    background-color: var(--color-white);
    height: 100%;
    position: relative;
    pointer-events: none;

    @include mobile {
      order: 3;
      max-width: 100%;
      height: rem(170);
      border-radius: var(--border-radius-m);
    }

    & img {
      height: auto;
      width: fluid(500, 100);
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);

      @include tablet{
        right: -40px;
      }

      @include mobile {
        width: rem(279);
      }


    }
  }

}