@use '../../styles/helpers' as *;

.callback {
  height: fluid(1136, 500);
  background: linear-gradient(145deg, #303030 0%, #282828 100%);
  color: var(--color-white);
  overflow: hidden;
  position: relative;
  padding-block: fluid(97, 20);

  @include tablet {
    height: fit-content;

    & .multi-form {
      margin-top: rem(400);
    }
  }

  @include mobile {
    & .multi-form {
      margin-top: rem(350);
    }
  }


  &--inner {
    display: flex;
    justify-content: space-between;
    height: 100%;
    gap: rem(30);

    @include tablet {
      flex-direction: column;
    }
  }

  &__content {
    width: 100%;
  }

  &__heading {
    max-width: rem(706);
    display: flex;
    flex-direction: column;
    gap: fluid(21, 12);
  }

  &__title {
    @include fluid-text(130, 48);
    color: var(--color-white);

    @include mobile-s {
      text-align: center;
    }
  }

  &__subtitle {
    @include fluid-text(26, 14);
    font-weight: 400;

    @include mobile-s {
      text-align: center;
    }
  }

  &__img-phone {
    position: absolute;
    bottom: -167px;
    left: -94px;
    width: fluid(993, 492);
    height: fluid(797, 395);
    //z-index: -1;

    @include tablet {
      top: 37%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin-top: rem(17);
    }

    @include mobile-s {
      top: 37%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin-top: rem(17);
    }
  }

  &__img-message {
    position: absolute;
    bottom: 20%;
    left: 25%;
    //width: fluid(476, 492);
    height: fluid(150, 50);
    width: auto;

    @include tablet {
      position: absolute;
      top: 30%;
      left: 70%;
      transform: translate(-50%, -50%);
      margin-top: rem(17);
    }
  }

}