@use 'helpers' as *;

html {
  &.is-lock {
    overflow: hidden;
  }
}

body {
  @include fluid-text(18, 14);

  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  color: var(--color-black-95);
  background-color: var(--color-light);
}

main {
  flex-grow: 1;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color: var(--color-black-95);
}

h1, .h1,
h2, .h2{
  font-family: var(--font-family-title);
  line-height: 100%;
}

h1, .h1 {
  @include fluid-text(95, 55);
  text-transform: uppercase;
}

h2, .h2 {
  @include fluid-text(165, 55);
  text-transform: uppercase;
}

h3, .h3 {
  @include fluid-text(39, 16);

  font-weight: 600;
}

h4, .h4 {
  @include fluid-text(40, 18);
  font-weight: 600;
}

h5, .h5 {
  @include fluid-text(22, 18);

  font-weight: 500;
}

h6, .h6 {
  @include fluid-text(20, 16);

  font-weight: 600;
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;

  @include hover {
    color: var(--color-red);
  }

  &[class] {
    text-decoration: none;
  }
}

:focus-visible {
  @include focus-visible;
}

.text-linear-red {
  background: var(--linear-red-primary);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* Для новых браузеров */
  background-clip: text;
  color: transparent;
}
