@charset "UTF-8";
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

input[type=file] {
  max-width: 100%;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HeadingNowTrial";
  src: url("../assets/fonts/HeadingNowTrial-36Bold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bebas";
  src: url("../assets/fonts/BebasNeue-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.container {
  width: 100%;
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}
@media (width <= 767px) {
  .container {
    max-width: calc(var(--container-width) + var(--container-padding-x-mobile) * 2);
    padding-inline: var(--container-padding-x-mobile);
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--section-padding-y);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (width > 1023px) {
  .visible-tablet {
    display: none !important;
  }
}

@media (width <= 1023px) {
  .hidden-tablet {
    display: none !important;
  }
}

@media (width > 767px) {
  .visible-mobile {
    display: none !important;
  }
}

@media (width <= 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

:root {
  --color-white: #FFFFFF;
  --color-light: #F3F3F3;
  --color-red: #CE0005;
  --color-black: #151515;
  --color-black-95: #2C2C2C;
  --color-black-90: #222222;
  --color-black-85: #303030;
  --color-black-80: #4A4949;
  --color-black-60: #676767;
  --color-black-50: #7F7F7F;
  --color-black-40: #A6A6A6;
  --color-black-30: #C1C1C1;
  --color-black-20: #CDCDCD;
  --color-black-10: #EEEEEE;
  --linear-red-primary: linear-gradient(90deg, #B5191C 0%, #DF0E14 51%, #B5191C 100% );
  --linear-red-secondary: linear-gradient(90deg, #B61500 0%, #DF0F15 100% );
  --border: var(--border-width-s) solid var(--color-black-30);
  --border-radius-l: 20px;
  --border-radius-m: 10px;
  --border-radius-s: 7px;
  --border-radius-mobile-l: 8px;
  --border-radius-mobile-m: 6px;
  --border-radius-mobile-s: 4px;
  --font-family-base: 'Inter', sans-serif;
  --font-family-title: 'HeadingNowTrial', sans-serif;
  --container-width: clamp(80rem, 0rem + 100vw, 120rem);
  --container-padding-x: 40px;
  --container-padding-x-mobile: 16px;
  --section-padding-y: clamp(3.75rem, 2.3161764706rem + 5.8823529412vw, 9.375rem);
  --transition-duration: 0.2s;
  --transition-duration-longer: 0.4s;
}

html.is-lock {
  overflow: hidden;
}

body {
  font-size: clamp(0.875rem, 0.8112745098rem + 0.2614379085vw, 1.125rem);
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  color: var(--color-black-95);
  background-color: var(--color-light);
}

main {
  flex-grow: 1;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color: var(--color-black-95);
}

h1, .h1,
h2, .h2 {
  font-family: var(--font-family-title);
  line-height: 100%;
}

h1, .h1 {
  font-size: clamp(3.4375rem, 2.800245098rem + 2.614379085vw, 5.9375rem);
  text-transform: uppercase;
}

h2, .h2 {
  font-size: clamp(3.4375rem, 1.6850490196rem + 7.1895424837vw, 10.3125rem);
  text-transform: uppercase;
}

h3, .h3 {
  font-size: clamp(1rem, 0.6335784314rem + 1.5032679739vw, 2.4375rem);
  font-weight: 600;
}

h4, .h4 {
  font-size: clamp(1.125rem, 0.7745098039rem + 1.4379084967vw, 2.5rem);
  font-weight: 600;
}

h5, .h5 {
  font-size: clamp(1.125rem, 1.0612745098rem + 0.2614379085vw, 1.375rem);
  font-weight: 500;
}

h6, .h6 {
  font-size: clamp(1rem, 0.9362745098rem + 0.2614379085vw, 1.25rem);
  font-weight: 600;
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;
}
@media (any-hover: hover) {
  a:hover {
    color: var(--color-red);
  }
}
@media (any-hover: none) {
  a:active {
    color: var(--color-red);
  }
}
a[class] {
  text-decoration: none;
}

:focus-visible {
  outline: 2px dashed var(--color-white);
  outline-offset: 4px;
  transition-duration: 0s !important;
}

.text-linear-red {
  background: var(--linear-red-primary);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* Для новых браузеров */
  background-clip: text;
  color: transparent;
}

.header {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.25rem;
  background-color: var(--color-black-85);
  height: clamp(5.9375rem, 4.7745098039rem + 4.7712418301vw, 10.5rem);
  color: var(--color-white);
}
@media (width <= 480px) {
  .header {
    gap: 0;
  }
}
.header__nav {
  display: flex;
  align-items: center;
  gap: clamp(1.25rem, 0.5012254902rem + 3.0718954248vw, 4.1875rem);
}
.header__nav img {
  width: clamp(3.375rem, 2.4350490196rem + 3.8562091503vw, 7.0625rem);
  height: clamp(3.375rem, 2.4350490196rem + 3.8562091503vw, 7.0625rem);
}
.header__menu ul {
  display: flex;
  gap: clamp(0.3125rem, -0.8664215686rem + 4.8366013072vw, 4.9375rem);
}
.header__menu ul li a {
  font-size: clamp(0.625rem, 0.3700980392rem + 1.045751634vw, 1.625rem);
  font-weight: 300;
}
@media (width <= 1023px) {
  .header__menu ul {
    display: none;
  }
}
@media (width <= 480px) {
  .header__btn {
    max-width: 9.0625rem;
  }
}
.header__contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(0.4375rem, 0.3737745098rem + 0.2614379085vw, 0.6875rem);
  max-width: 15.25rem;
}
.header__phone {
  font-size: clamp(0.875rem, 0.6838235294rem + 0.7843137255vw, 1.625rem);
  font-weight: 400;
}

.btn {
  font-size: clamp(0.75rem, 0.6225490196rem + 0.522875817vw, 1.25rem);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: clamp(1rem, 0.8088235294rem + 0.7843137255vw, 1.75rem);
  background: var(--linear-red-primary);
  border-radius: var(--border-radius-m);
  height: clamp(5.75rem, 5.4154411765rem + 1.3725490196vw, 7.0625rem);
  width: 100%;
  color: var(--color-white);
  font-weight: 700;
  transition: var(--transition-duration);
  box-shadow: inset 0px 4px 34px rgba(255, 255, 255, 0.5019607843);
}
@media (any-hover: hover) {
  .btn:hover {
    color: var(--color-white);
    box-shadow: inset 0px 4px 34px rgba(255, 255, 255, 0.3137254902);
  }
}
@media (any-hover: none) {
  .btn:active {
    color: var(--color-white);
    box-shadow: inset 0px 4px 34px rgba(255, 255, 255, 0.3137254902);
  }
}
.btn img {
  width: clamp(1rem, 0.8725490196rem + 0.522875817vw, 1.5rem);
  height: clamp(1rem, 0.8725490196rem + 0.522875817vw, 1.5rem);
}
@media (width <= 767px) {
  .btn {
    border-radius: var(--border-radius-mobile-m);
  }
}
.btn--small {
  font-size: clamp(0.875rem, 0.7794117647rem + 0.3921568627vw, 1.25rem);
  height: clamp(2.375rem, 2.2156862745rem + 0.6535947712vw, 3rem);
  font-weight: 400;
  border-radius: var(--border-radius-s);
}
@media (width <= 767px) {
  .btn--small {
    border-radius: var(--border-radius-mobile-s);
  }
}
.btn--uppercase {
  text-transform: uppercase;
  letter-spacing: 2px;
}
.btn--white {
  background: var(--color-white);
  color: var(--color-black-85);
}
@media (any-hover: hover) {
  .btn--white:hover {
    background: var(--color-black-10);
    color: var(--color-black);
  }
}
@media (any-hover: none) {
  .btn--white:active {
    background: var(--color-black-10);
    color: var(--color-black);
  }
}
.btn--no-shadow {
  box-shadow: none;
}
.btn--more {
  width: fit-content;
  opacity: 0.6;
  text-decoration: underline;
  text-align: left;
  justify-content: flex-start;
}
@media (any-hover: hover) {
  .btn--more:hover {
    opacity: 1;
  }
}
@media (any-hover: none) {
  .btn--more:active {
    opacity: 1;
  }
}

.burger-menu {
  width: 3.125rem;
  height: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.burger-menu span {
  width: 100%;
  height: 3px;
  border-radius: 10px;
  background-color: var(--color-white);
}
@media (width > 1023px) {
  .burger-menu {
    display: none;
  }
}

.search {
  display: flex;
  height: clamp(2.75rem, 1.7463235294rem + 4.1176470588vw, 6.6875rem);
  gap: clamp(0.1875rem, -0.3541666667rem + 2.2222222222vw, 2.3125rem);
  width: 100%;
}
.search__input-group {
  width: 100%;
}
.search__input-group input {
  padding-inline: clamp(0.625rem, 0.1470588235rem + 1.9607843137vw, 2.5rem);
}
.search button {
  font-size: clamp(0.75rem, 0.4632352941rem + 1.1764705882vw, 1.875rem);
  font-weight: 400;
}

.form__input {
  width: 100%;
  height: 100%;
  border: 1px solid transparent;
  transition: var(--transition-duration);
}
.form__input:focus {
  border-color: var(--color-black);
  transition: var(--transition-duration);
}
.form__input--light {
  background-color: var(--color-white);
  color: var(--color-black-95);
  border-radius: var(--border-radius-m);
  border-color: var(--color-black-30);
}
@media (width <= 767px) {
  .form__input {
    border-radius: var(--border-radius-mobile-m);
  }
}
.multi-form {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #4A4949;
  border-radius: var(--border-radius-l);
  padding-block: clamp(1.9375rem, 1.5073529412rem + 1.7647058824vw, 3.625rem);
  padding-inline: clamp(2.25rem, 1.5490196078rem + 2.8758169935vw, 5rem);
  gap: clamp(1.125rem, 1.0134803922rem + 0.4575163399vw, 1.5625rem);
}
.multi-form__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(0.75rem, 0.5906862745rem + 0.6535947712vw, 1.375rem);
  text-align: center;
}
.multi-form__heading h4 {
  color: var(--color-white);
}
.multi-form__heading p {
  font-size: clamp(0.875rem, 0.699754902rem + 0.7189542484vw, 1.5625rem);
  font-weight: 400;
  opacity: 0.8;
}
.multi-form__forms {
  display: flex;
  flex-direction: column;
  gap: clamp(0.375rem, 0.2316176471rem + 0.5882352941vw, 0.9375rem);
}
.multi-form__forms input {
  font-size: clamp(0.75rem, 0.4950980392rem + 1.045751634vw, 1.75rem);
  font-weight: 400;
  color: var(--color-white);
  height: clamp(2.5625rem, 1.75rem + 3.3333333333vw, 5.75rem);
  background-color: #7F7F7F;
  border-radius: var(--border-radius-m);
  padding-inline: clamp(0.875rem, 0.5882352941rem + 1.1764705882vw, 2rem);
}
@media (width <= 767px) {
  .multi-form__forms input {
    border-radius: var(--border-radius-s);
  }
}
.multi-form__messenger {
  width: 100%;
  height: clamp(2.5625rem, 1.75rem + 3.3333333333vw, 5.75rem);
}
.multi-form__messenger select {
  font-size: clamp(0.75rem, 0.4950980392rem + 1.045751634vw, 1.75rem);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
}
.multi-form__messenger select:focus {
  outline: none;
  box-shadow: none;
}
.multi-form__messenger select {
  font-weight: 400;
  color: var(--color-white);
  height: inherit;
  width: inherit;
  background-color: #7F7F7F;
  border-radius: var(--border-radius-m);
  padding-inline: clamp(0.875rem, 0.5882352941rem + 1.1764705882vw, 2rem);
}
@media (width <= 767px) {
  .multi-form__messenger select {
    border-radius: var(--border-radius-s);
  }
}
.multi-form__nav .dots {
  display: flex;
  gap: clamp(0.4375rem, 0.3100490196rem + 0.522875817vw, 0.9375rem);
  max-width: 8.75rem;
  margin-inline: auto;
  margin-top: clamp(0.9375rem, 0.618872549rem + 1.3071895425vw, 2.1875rem);
}
.multi-form__nav .dots .dot {
  height: 2px;
  border-radius: 50px;
  background-color: var(--color-white);
  opacity: 0.2;
  width: 100%;
  transition: var(--transition-duration);
}
.multi-form__nav .dots .dot.active {
  opacity: 1;
}
.multi-form__nav button {
  height: clamp(4.0625rem, 3.1384803922rem + 3.7908496732vw, 7.6875rem);
}
.multi-form__checkbox {
  display: flex;
  gap: clamp(0.375rem, 0.2316176471rem + 0.5882352941vw, 0.9375rem);
  align-items: flex-start;
}
.multi-form__checkbox input {
  margin-top: 0.1875rem;
  width: clamp(0.625rem, 0.4178921569rem + 0.8496732026vw, 1.4375rem);
  height: clamp(0.625rem, 0.4178921569rem + 0.8496732026vw, 1.4375rem);
}

.form-step {
  opacity: 0;
  visibility: hidden;
  transform: translateX(20px);
  transition: all 0.35s ease;
  position: absolute;
  width: 100%;
}

.form-step.active {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
  position: relative;
}

.hidden {
  display: none;
}

.hero--auto-parts {
  margin-top: clamp(3.75rem, 3.5906862745rem + 0.6535947712vw, 4.375rem);
  display: flex;
  justify-content: space-between;
  gap: clamp(0.625rem, -1.7328431373rem + 9.6732026144vw, 9.875rem);
}
@media (width <= 767px) {
  .hero--auto-parts {
    flex-direction: column;
  }
}
.hero--auto-parts .hero__motor {
  position: relative;
}
@media (width <= 767px) {
  .hero--auto-parts .hero__motor {
    display: flex;
    justify-content: center;
  }
}
.hero--auto-parts .hero__motor-img {
  width: clamp(9.375rem, -0.5343137255rem + 40.6535947712vw, 48.25rem);
  height: clamp(9.375rem, -0.5343137255rem + 40.6535947712vw, 48.25rem);
}
@media (width <= 767px) {
  .hero--auto-parts .hero__motor-img {
    width: clamp(18.5rem, 10.9166666667rem + 31.1111111111vw, 48.25rem);
    height: clamp(18.5rem, 10.9166666667rem + 31.1111111111vw, 48.25rem);
  }
}
.hero--auto-parts .hero__garantia {
  position: absolute;
  width: clamp(6.25rem, 4.3223039216rem + 7.908496732vw, 13.8125rem);
  right: -111px;
  top: 0;
  z-index: -1;
}
@media (width <= 1440px) {
  .hero--auto-parts .hero__garantia {
    right: -60px;
    top: -40px;
  }
}
@media (width <= 1023px) {
  .hero--auto-parts .hero__garantia {
    right: -40px;
  }
}
@media (width <= 767px) {
  .hero--auto-parts .hero__garantia {
    right: 10%;
  }
}
@media (width <= 480px) {
  .hero--auto-parts .hero__garantia {
    left: 0;
    top: -50px;
  }
}
.hero--auto-parts .hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(1.5rem, 1.2928921569rem + 0.8496732026vw, 2.3125rem);
}
.hero--auto-parts .hero__title {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-title), sans-serif;
  align-items: center;
  line-height: 0.9;
  text-transform: uppercase;
}
.hero--auto-parts .hero__title span:first-child {
  font-size: clamp(4.5rem, 2.7475490196rem + 7.1895424837vw, 11.375rem);
  background: var(--linear-red-primary);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* Для новых браузеров */
  background-clip: text;
  color: transparent;
}
.hero--auto-parts .hero__title span:last-child {
  font-size: clamp(2.125rem, 1.2965686275rem + 3.3986928105vw, 5.375rem);
  color: var(--color-black-95);
}
.hero--auto-parts .hero__items {
  display: flex;
  gap: clamp(0.875rem, 0.2696078431rem + 2.4836601307vw, 3.25rem);
  padding-block: 0.9375rem;
  background-color: var(--color-black-85);
  color: var(--color-white);
  border-radius: var(--border-radius-m);
  padding-inline: clamp(1.375rem, 1.0882352941rem + 1.1764705882vw, 2.5rem);
}
@media (width <= 767px) {
  .hero--auto-parts .hero__items {
    border-radius: var(--border-radius-mobile-m);
    flex-direction: column;
  }
}
.hero--auto-parts .hero__hr {
  width: 1px;
  height: 100%;
  background: linear-gradient(0deg, rgba(222, 222, 222, 0) 0%, #DEDEDE 50%, rgba(222, 222, 222, 0) 100%);
}
@media (width <= 767px) {
  .hero--auto-parts .hero__hr {
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, rgba(222, 222, 222, 0) 0%, #DEDEDE 50%, rgba(222, 222, 222, 0) 100%);
  }
}
.hero--auto-parts .hero__item {
  display: flex;
  align-items: flex-start;
  padding-block: clamp(0.9375rem, 0.4595588235rem + 1.9607843137vw, 2.8125rem);
  gap: clamp(0.875rem, 0.7794117647rem + 0.3921568627vw, 1.25rem);
}
.hero--auto-parts .hero__item img {
  padding-top: 2px;
  width: clamp(1rem, 0.824754902rem + 0.7189542484vw, 1.6875rem);
}
.hero--auto-parts .btn {
  max-width: clamp(21.25rem, 19.0196078431rem + 9.1503267974vw, 30rem);
}

.catalog--show-more {
  display: flex;
  flex-direction: column;
  gap: clamp(0.75rem, -0.0147058824rem + 3.137254902vw, 3.75rem);
  align-items: center;
}
.catalog--show-more .catalog__content {
  display: flex;
  flex-direction: column;
  gap: clamp(1.375rem, 1.1838235294rem + 0.7843137255vw, 2.125rem);
  width: 100%;
}
.catalog--show-more .catalog__title {
  display: inline-flex;
  justify-content: center;
  color: var(--color-black-95);
}
.catalog--show-more .catalog__search input {
  font-size: clamp(0.75rem, 0.4632352941rem + 1.1764705882vw, 1.875rem);
  font-weight: 400;
}
.catalog--show-more .catalog__search .btn {
  height: 100%;
  max-width: clamp(5.625rem, 2.2794117647rem + 13.7254901961vw, 18.75rem);
}
.catalog--show-more .catalog__items {
  display: flex;
  gap: clamp(0.75rem, 0.5269607843rem + 0.9150326797vw, 1.625rem);
}
@media (width <= 1023px) {
  .catalog--show-more .catalog__items {
    flex-direction: column;
  }
}
.catalog--show-more .catalog__item {
  display: flex;
  flex-direction: column;
  gap: clamp(0.75rem, 0.3039215686rem + 1.8300653595vw, 2.5rem);
  padding: clamp(0.75rem, 0.431372549rem + 1.3071895425vw, 2rem);
  color: var(--color-white);
  border-radius: var(--border-radius-l);
  background-color: var(--color-black-85);
  width: 100%;
}
@media (width <= 767px) {
  .catalog--show-more .catalog__item {
    border-radius: var(--border-radius-m);
  }
}
.catalog--show-more .catalog__h3 {
  color: var(--color-white);
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-color: white;
  text-decoration-thickness: 3px;
  text-underline-offset: 4px;
}
.catalog--show-more .catalog__subcategories {
  font-size: clamp(0.875rem, 0.6838235294rem + 0.7843137255vw, 1.625rem);
  display: flex;
  flex-direction: column;
  gap: clamp(0.1875rem, 0.1397058824rem + 0.1960784314vw, 0.375rem);
  font-weight: 400;
}
.catalog--show-more .catalog__btn {
  max-width: clamp(21.375rem, 17.8223039216rem + 14.5751633987vw, 35.3125rem);
}
@media (width <= 480px) {
  .catalog--show-more .catalog__btn {
    max-width: 100%;
  }
}

.callback {
  height: clamp(31.25rem, 21.1176470588rem + 41.568627451vw, 71rem);
  color: var(--color-white);
  position: relative;
  overflow: hidden;
  min-height: clamp(37.5rem, 28.9607843137rem + 35.0326797386vw, 71rem);
}
@media (width <= 1023px) {
  .callback {
    height: fit-content;
  }
  .callback .multi-form {
    margin-top: 25rem;
  }
}
@media (width <= 767px) {
  .callback .multi-form {
    margin-top: 21.875rem;
  }
}
.callback--inner {
  display: flex;
  justify-content: space-between;
  height: 100%;
  gap: 1.875rem;
  background: linear-gradient(145deg, #303030 0%, #282828 100%);
  overflow: hidden;
  padding-block: clamp(1.25rem, 0.0232843137rem + 5.0326797386vw, 6.0625rem);
  padding-inline: clamp(0.75rem, -0.6519607843rem + 5.7516339869vw, 6.25rem);
  border-radius: var(--border-radius-l);
}
@media (width <= 1023px) {
  .callback--inner {
    flex-direction: column;
    border-radius: var(--border-radius-m);
  }
}
.callback__content {
  width: 100%;
}
.callback__heading {
  max-width: 44.125rem;
  display: flex;
  flex-direction: column;
  gap: clamp(0.75rem, 0.6066176471rem + 0.5882352941vw, 1.3125rem);
}
.callback__title {
  font-size: clamp(3rem, 1.8529411765rem + 4.7058823529vw, 7.5rem);
  color: var(--color-white);
}
@media (width <= 480px) {
  .callback__title {
    text-align: center;
  }
}
.callback__subtitle {
  font-size: clamp(0.875rem, 0.6838235294rem + 0.7843137255vw, 1.625rem);
  font-weight: 400;
}
@media (width <= 480px) {
  .callback__subtitle {
    text-align: center;
  }
}
.callback__img-phone {
  position: absolute;
  bottom: -167px;
  left: -94px;
  width: clamp(30.75rem, 22.7683823529rem + 32.7450980392vw, 62.0625rem);
  height: clamp(24.6875rem, 18.2830882353rem + 26.2745098039vw, 49.8125rem);
}
@media (width <= 1023px) {
  .callback__img-phone {
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 1.0625rem;
  }
}
@media (width <= 480px) {
  .callback__img-phone {
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 1.0625rem;
  }
}
.callback__img-message {
  position: absolute;
  bottom: 20%;
  left: 25%;
  height: clamp(3.125rem, 1.5318627451rem + 6.5359477124vw, 9.375rem);
  width: auto;
}
@media (width <= 1023px) {
  .callback__img-message {
    position: absolute;
    top: 30%;
    left: 70%;
    transform: translate(-50%, -50%);
    margin-top: 1.0625rem;
  }
}

.assurance {
  display: flex;
  flex-direction: column;
  gap: clamp(0.875rem, 0.1899509804rem + 2.8104575163vw, 3.5625rem);
}
.assurance__title {
  font-size: clamp(3.4375rem, 2.800245098rem + 2.614379085vw, 5.9375rem);
  text-align: center;
  width: 100%;
}
.assurance__title span {
  background: var(--linear-red-primary);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* Для новых браузеров */
  background-clip: text;
  color: transparent;
}
.assurance__items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: clamp(0.75rem, 0.3357843137rem + 1.6993464052vw, 2.375rem);
}
@media (width <= 767px) {
  .assurance__items {
    grid-template-columns: 1fr;
  }
}
.assurance__item {
  display: flex;
  flex-direction: column;
  gap: clamp(0.75rem, 0.5110294118rem + 0.9803921569vw, 1.6875rem);
  border-radius: var(--border-radius-l);
  min-height: clamp(15.0625rem, 12.0674019608rem + 12.2875816993vw, 26.8125rem);
  height: fit-content;
  background-color: var(--color-black-80);
  overflow: hidden;
  padding: clamp(1.125rem, 0.6470588235rem + 1.9607843137vw, 3rem);
  position: relative;
  z-index: 1;
}
@media (width <= 767px) {
  .assurance__item {
    border-radius: var(--border-radius-m);
  }
}
.assurance__item--red {
  background: linear-gradient(45deg, #CE0005 0%, #FA3C41 70%, #CE0005 130%);
}
.assurance__item h3 {
  color: var(--color-white);
  font-weight: 600;
  z-index: 3;
}
.assurance__item p {
  font-size: clamp(0.875rem, 0.6838235294rem + 0.7843137255vw, 1.625rem);
  color: var(--color-white);
  font-weight: 400;
  max-width: clamp(13.125rem, 7.756127451rem + 22.0261437908vw, 34.1875rem);
  z-index: 3;
}
.assurance__item img {
  position: absolute;
  width: auto;
  z-index: 2;
}
.assurance__img-docs {
  height: clamp(11.25rem, 6.3431372549rem + 20.1307189542vw, 30.5rem);
  bottom: -110px;
  right: -80px;
}
@media (width <= 767px) {
  .assurance__img-docs {
    bottom: -55çpx;
    right: -40px;
  }
}
.assurance__img-cargo {
  height: clamp(8.75rem, 5.4203431373rem + 13.660130719vw, 21.8125rem);
  bottom: -60px;
  right: -80px;
}
@media (width <= 767px) {
  .assurance__img-cargo {
    bottom: -10px;
    right: -40px;
  }
}
.assurance__img-map {
  height: clamp(11.25rem, 6.7732843137rem + 18.3660130719vw, 28.8125rem);
  bottom: -40px;
  right: -20px;
}
@media (width <= 767px) {
  .assurance__img-map {
    bottom: 0;
    right: -20px;
  }
}
.assurance__img-pods {
  height: clamp(11.25rem, 6.9485294118rem + 17.6470588235vw, 28.125rem);
  bottom: -70px;
  right: -50px;
}
@media (width <= 767px) {
  .assurance__img-pods {
    bottom: -40px;
    right: -30px;
  }
}

.brands {
  display: flex;
  flex-direction: column;
  gap: clamp(1.5rem, 0.2892156863rem + 4.9673202614vw, 6.25rem);
  align-items: center;
}
.brands__title {
  font-size: clamp(2.375rem, 1.0526960784rem + 5.4248366013vw, 7.5625rem);
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: center;
  gap: 0.3125rem;
}
.brands__title h2 {
  font-size: clamp(2.375rem, 1.0526960784rem + 5.4248366013vw, 7.5625rem);
}
.brands__title-flex {
  display: flex;
  width: 100%;
  align-items: center;
  gap: clamp(0.3125rem, -0.4044117647rem + 2.9411764706vw, 3.125rem);
}
.brands__title-icon {
  font-size: clamp(0.625rem, 0.2745098039rem + 1.4379084967vw, 2rem);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
  width: 100%;
  height: clamp(2rem, 1.1556372549rem + 3.4640522876vw, 5.3125rem);
  font-family: var(--font-family-base), sans-serif;
  font-weight: 400;
  text-transform: none;
  background-color: var(--color-white);
  border-radius: var(--border-radius-s);
}
.brands__title-icon img {
  width: auto;
  height: clamp(0.75rem, 0.3039215686rem + 1.8300653595vw, 2.5rem);
}
.brands__slider .swiper-slide img {
  width: auto;
  height: clamp(2rem, 0.9166666667rem + 4.4444444444vw, 6.25rem);
}

.delivery {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: clamp(1.25rem, 1.0906862745rem + 0.6535947712vw, 1.875rem);
  background-color: var(--color-black-20);
  border-radius: var(--border-radius-l);
  height: fit-content;
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: var(--container-padding-x);
  padding-bottom: var(--container-padding-x);
  position: relative;
  overflow: hidden;
}
@media (width <= 767px) {
  .delivery {
    border-radius: var(--border-radius-m);
  }
}
.delivery__steps {
  display: flex;
  justify-content: space-between;
  gap: clamp(0.625rem, -0.3308823529rem + 3.9215686275vw, 4.375rem);
  color: var(--color-white);
  background: linear-gradient(135deg, #303030 0%, #282828 100%);
  border-radius: var(--border-radius-l);
  padding-block: clamp(1.25rem, 0.2941176471rem + 3.9215686275vw, 5rem);
  padding-inline: clamp(1.25rem, 0.2941176471rem + 3.9215686275vw, 5rem);
  position: relative;
}
@media (width <= 767px) {
  .delivery__steps {
    flex-direction: column;
    gap: 19rem;
  }
}
@media (width <= 480px) {
  .delivery__steps {
    gap: 15.625rem;
  }
}
.delivery__content {
  display: flex;
  flex-direction: column;
  gap: clamp(0.75rem, 0.1446078431rem + 2.4836601307vw, 3.125rem);
  width: 100%;
}
.delivery__heading {
  display: flex;
  flex-direction: column;
  gap: clamp(0.0625rem, -0.0171568627rem + 0.3267973856vw, 0.375rem);
}
.delivery__heading h2 {
  font-size: clamp(0.625rem, -2.0833333333rem + 11.1111111111vw, 11.25rem);
  color: var(--color-white);
}
@media (width <= 767px) {
  .delivery__heading h2 {
    font-size: clamp(3.4375rem, 1.4460784314rem + 8.1699346405vw, 11.25rem);
  }
}
.delivery__heading p {
  font-size: clamp(0.75rem, 0.3039215686rem + 1.8300653595vw, 2.5rem);
  font-weight: 400;
}
.delivery__info {
  display: flex;
  flex-direction: column;
  gap: clamp(0.75rem, -0.0147058824rem + 3.137254902vw, 3.75rem);
  padding: clamp(0.75rem, 0.3039215686rem + 1.8300653595vw, 2.5rem);
  background-color: var(--color-black-90);
  border-radius: var(--border-radius-l);
}
@media (width <= 767px) {
  .delivery__info {
    border-radius: var(--border-radius-m);
  }
}
.delivery__info p {
  font-size: clamp(1rem, 0.8725490196rem + 0.522875817vw, 1.5rem);
  max-width: clamp(18.75rem, 11.5808823529rem + 29.4117647059vw, 46.875rem);
}
@media (width <= 767px) {
  .delivery__info p {
    max-width: 100%;
  }
}
.delivery__text {
  display: flex;
  flex-direction: column;
  gap: clamp(0.75rem, 0.5428921569rem + 0.8496732026vw, 1.5625rem);
}
.delivery__more {
  width: 100%;
  height: fit-content;
  border-radius: var(--border-radius-l);
  background-color: var(--color-black);
  padding-inline: clamp(1.875rem, 1.3970588235rem + 1.9607843137vw, 3.75rem);
  padding-block: clamp(0.75rem, 0.3676470588rem + 1.568627451vw, 2.25rem);
}
.delivery__more ul {
  display: flex;
  flex-direction: column;
  gap: clamp(0.9375rem, 0.6985294118rem + 0.9803921569vw, 1.875rem);
}
.delivery__more ul li {
  font-size: clamp(1rem, 0.8725490196rem + 0.522875817vw, 1.5rem);
  list-style-type: disc;
  max-width: clamp(6.25rem, -0.1225490196rem + 26.1437908497vw, 31.25rem);
}
@media (width <= 767px) {
  .delivery__more ul li {
    max-width: 100%;
  }
}
@media (width <= 767px) {
  .delivery__more {
    border-radius: var(--border-radius-m);
  }
}
.delivery__steps-list {
  display: flex;
  flex-direction: column;
  gap: clamp(0.625rem, 0.5294117647rem + 0.3921568627vw, 1rem);
  width: 100%;
  max-width: clamp(19.875rem, 16.0196078431rem + 15.8169934641vw, 35rem);
  z-index: 2;
}
@media (width <= 767px) {
  .delivery__steps-list {
    max-width: 100%;
  }
}
.delivery__steps-list li {
  display: flex;
  align-items: center;
  gap: clamp(1rem, 0.6973039216rem + 1.2418300654vw, 2.1875rem);
  width: 100%;
  padding-block: clamp(0.75rem, 0.5428921569rem + 0.8496732026vw, 1.5625rem);
  padding-inline: clamp(1.25rem, 1.0110294118rem + 0.9803921569vw, 2.1875rem);
  background-color: var(--color-black-80);
  border-radius: var(--border-radius-l);
}
@media (width <= 767px) {
  .delivery__steps-list li {
    border-radius: var(--border-radius-m);
  }
}
.delivery__steps-list li p {
  font-size: clamp(1rem, 0.8725490196rem + 0.522875817vw, 1.5rem);
  font-weight: 400;
}
.delivery__step-img {
  width: clamp(3.3125rem, 2.675245098rem + 2.614379085vw, 5.8125rem);
  height: clamp(3.3125rem, 2.675245098rem + 2.614379085vw, 5.8125rem);
  position: relative;
}
.delivery__step-img img {
  width: auto;
  height: clamp(3.3125rem, 2.675245098rem + 2.614379085vw, 5.8125rem);
}
.delivery__step-img span {
  font-size: clamp(1.125rem, 0.8860294118rem + 0.9803921569vw, 2.0625rem);
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}
.delivery__cargo-img {
  position: absolute;
  width: auto;
  height: clamp(15.875rem, 7.4632352941rem + 34.5098039216vw, 48.875rem);
  bottom: -50px;
  right: 25%;
  z-index: 1;
}
@media (width <= 1440px) {
  .delivery__cargo-img {
    right: 20%;
  }
}
@media (width <= 767px) {
  .delivery__cargo-img {
    right: -30px;
    top: 40%;
    transform: translateY(-30%);
    z-index: 3;
  }
}
@media (width <= 480px) {
  .delivery__cargo-img {
    top: 42%;
  }
}
.delivery__payment {
  display: flex;
  gap: clamp(0.625rem, -0.4264705882rem + 4.3137254902vw, 4.75rem);
  color: var(--color-black-95);
  padding-inline: clamp(1.25rem, 0.2941176471rem + 3.9215686275vw, 5rem);
  justify-content: space-between;
  position: relative;
}
@media (width <= 767px) {
  .delivery__payment {
    flex-direction: column;
  }
}
@media (width <= 480px) {
  .delivery__payment {
    gap: 12.5rem;
  }
}
.delivery__payment .delivery__content {
  gap: clamp(1.25rem, 0.612745098rem + 2.614379085vw, 3.75rem);
  order: 1;
}
.delivery__payment .delivery__heading {
  gap: clamp(1.375rem, 1.0404411765rem + 1.3725490196vw, 2.6875rem);
}
.delivery__payment .delivery__heading p {
  font-size: clamp(1rem, 0.8725490196rem + 0.522875817vw, 1.5rem);
  font-weight: 400;
}
.delivery__payment .delivery__title {
  display: flex;
  flex-direction: column;
  gap: 0.3125rem;
}
.delivery__payment .delivery__title h2 {
  font-size: clamp(0.625rem, -2.0833333333rem + 11.1111111111vw, 11.25rem);
  color: var(--color-black-95);
}
@media (width <= 767px) {
  .delivery__payment .delivery__title h2 {
    font-size: clamp(3.4375rem, 1.4460784314rem + 8.1699346405vw, 11.25rem);
  }
}
.delivery__payment .delivery__title p {
  font-size: clamp(0.75rem, 0.3039215686rem + 1.8300653595vw, 2.5rem);
  font-weight: 400;
}
.delivery__payment .delivery__subtitle {
  max-width: clamp(18.75rem, 14.2573529412rem + 18.431372549vw, 36.375rem);
}
.delivery__payment .btn {
  max-height: clamp(5.25rem, 4.6286764706rem + 2.5490196078vw, 7.6875rem);
  max-width: clamp(19.875rem, 16.2107843137rem + 15.0326797386vw, 34.25rem);
}
@media (width <= 767px) {
  .delivery__payment .btn {
    max-width: 100%;
  }
}
.delivery__methods {
  display: flex;
  flex-direction: column;
  gap: clamp(0.9375rem, 0.6985294118rem + 0.9803921569vw, 1.875rem);
  padding: clamp(0.9375rem, 0.618872549rem + 1.3071895425vw, 2.1875rem);
  background-color: #EEEEEE;
  border-radius: var(--border-radius-l);
}
@media (width <= 767px) {
  .delivery__methods {
    border-radius: var(--border-radius-m);
  }
}
.delivery__methods h3 {
  max-width: clamp(11.375rem, 8.0134803922rem + 13.7908496732vw, 24.5625rem);
}
.delivery__methods .items {
  display: flex;
  flex-direction: column;
  gap: clamp(0.3125rem, 0.2328431373rem + 0.3267973856vw, 0.625rem);
}
.delivery__methods .item {
  display: flex;
  align-items: center;
  gap: clamp(0.5625rem, 0.4350490196rem + 0.522875817vw, 1.0625rem);
  max-width: 31.25rem;
}
.delivery__methods .item img {
  width: auto;
  height: clamp(0.8125rem, 0.6053921569rem + 0.8496732026vw, 1.625rem);
}
.delivery__phone {
  display: flex;
  align-items: center;
  gap: clamp(0.5625rem, 0.387254902rem + 0.7189542484vw, 1.25rem);
}
.delivery__phone img {
  width: auto;
  height: clamp(0.8125rem, 0.6531862745rem + 0.6535947712vw, 1.4375rem);
}
.delivery__cash-img {
  position: absolute;
  width: auto;
  height: clamp(9.375rem, 3.2254901961rem + 25.2287581699vw, 33.5rem);
  bottom: -119px;
  right: -60px;
}
@media (width <= 767px) {
  .delivery__cash-img {
    top: 20%;
    transform: translateY(-20%);
    z-index: 1;
  }
}
@media (width <= 480px) {
  .delivery__cash-img {
    top: 35%;
    height: clamp(14.375rem, 9.5rem + 20vw, 33.5rem);
    transform: translateY(-38%);
    right: -25px;
  }
}
.delivery__payment-inner {
  display: contents;
}
@media (width <= 767px) {
  .delivery__payment-inner {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    order: 2;
    z-index: 2;
  }
}

.contact {
  display: flex;
  justify-content: space-between;
  gap: clamp(0.75rem, 0.1286764706rem + 2.5490196078vw, 3.1875rem);
}
@media (width <= 767px) {
  .contact {
    flex-direction: column;
  }
}
.contact__map {
  width: 100%;
  height: clamp(16.25rem, 7.6470588235rem + 35.2941176471vw, 50rem);
  overflow: hidden;
  border-radius: var(--border-radius-l);
}
@media (width <= 767px) {
  .contact__map {
    order: 2;
    border-radius: var(--border-radius-m);
  }
}
.contact__content {
  display: flex;
  flex-direction: column;
  gap: clamp(2.5rem, 1.5441176471rem + 3.9215686275vw, 6.25rem);
  width: 100%;
}
@media (width <= 767px) {
  .contact__content {
    order: 1;
  }
}
.contact__content--inner {
  display: flex;
  flex-direction: column;
  gap: clamp(0.75rem, 0.1446078431rem + 2.4836601307vw, 3.125rem);
}
@media (width <= 767px) {
  .contact__content--inner h2 {
    width: 100%;
    text-align: center;
  }
}
.contact__info ul {
  display: flex;
  flex-direction: column;
  gap: clamp(0.75rem, 0.3039215686rem + 1.8300653595vw, 2.5rem);
}
.contact__info ul li {
  font-size: clamp(0.875rem, 0.5085784314rem + 1.5032679739vw, 2.3125rem);
  display: flex;
  align-items: center;
  gap: clamp(1rem, 0.7450980392rem + 1.045751634vw, 2rem);
}
.contact__info ul li img {
  width: clamp(0.8125rem, 0.4460784314rem + 1.5032679739vw, 2.25rem);
  height: auto;
}
.contact__img {
  width: 100%;
  max-width: clamp(21.375rem, 16.6274509804rem + 19.477124183vw, 40rem);
  border-radius: var(--border-radius-l) var(--border-radius-l) 0 0;
  background-color: var(--color-white);
  height: 100%;
  position: relative;
  pointer-events: none;
}
@media (width <= 767px) {
  .contact__img {
    order: 3;
    max-width: 100%;
    height: 10.625rem;
    border-radius: var(--border-radius-m);
  }
}
.contact__img img {
  height: auto;
  width: clamp(6.25rem, -0.1225490196rem + 26.1437908497vw, 31.25rem);
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
@media (width <= 1023px) {
  .contact__img img {
    right: -40px;
  }
}
@media (width <= 767px) {
  .contact__img img {
    width: 17.4375rem;
  }
}

.diagnostics {
  color: var(--color-white);
}
.diagnostics__wrapper {
  display: flex;
  flex-direction: column;
  gap: clamp(1.25rem, 0.4534313725rem + 3.2679738562vw, 4.375rem);
  width: 100%;
  background-color: var(--color-black-95);
  border-radius: var(--border-radius-l);
  padding-block: clamp(1.25rem, 0.2941176471rem + 3.9215686275vw, 5rem);
  padding-inline: clamp(0.75rem, -0.0147058824rem + 3.137254902vw, 3.75rem);
  align-items: center;
}
@media (width <= 767px) {
  .diagnostics__wrapper {
    border-radius: var(--border-radius-m);
  }
}
.diagnostics__heading {
  display: flex;
  flex-direction: column;
  gap: clamp(0.75rem, 0.5269607843rem + 0.9150326797vw, 1.625rem);
  text-align: center;
}
.diagnostics__heading h3 {
  font-size: clamp(1rem, 0.5379901961rem + 1.8954248366vw, 2.8125rem);
  font-weight: 600;
  color: var(--color-whi);
}
.diagnostics__heading p {
  font-size: clamp(0.875rem, 0.6838235294rem + 0.7843137255vw, 1.625rem);
  font-weight: 400;
}
.diagnostics__items {
  display: flex;
  gap: clamp(0.75rem, 0.3039215686rem + 1.8300653595vw, 2.5rem);
  width: 100%;
}
@media (width <= 767px) {
  .diagnostics__items {
    flex-direction: column;
  }
}
.diagnostics__item {
  font-size: clamp(0.75rem, 0.4632352941rem + 1.1764705882vw, 1.875rem);
  border-radius: var(--border-radius-l);
  overflow: hidden;
  display: flex;
  width: 100%;
  padding: clamp(0.75rem, 0.2242647059rem + 2.1568627451vw, 2.8125rem);
  height: clamp(6.5625rem, 3.8223039216rem + 11.2418300654vw, 17.3125rem);
}
@media (width <= 767px) {
  .diagnostics__item {
    border-radius: var(--border-radius-m);
  }
}
.diagnostics__item p {
  font-size: clamp(0.75rem, 0.4632352941rem + 1.1764705882vw, 1.875rem);
  max-width: clamp(9.0625rem, 5.637254902rem + 14.0522875817vw, 22.5rem);
  font-weight: 600;
}
.diagnostics__item:first-child {
  justify-content: flex-end;
  text-align: right;
  background: url("../assets/images/left.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
}
.diagnostics__item:last-child {
  color: var(--color-black-85);
  justify-content: flex-start;
  text-align: left;
  background: url("../assets/images/right.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
}
.diagnostics__list {
  font-size: clamp(0.75rem, 0.5110294118rem + 0.9803921569vw, 1.6875rem);
  display: flex;
  justify-content: space-between;
  color: var(--color-white);
  gap: clamp(0.75rem, -0.3333333333rem + 4.4444444444vw, 5rem);
}
@media (width <= 767px) {
  .diagnostics__list {
    flex-direction: column;
  }
}
.diagnostics__list li {
  display: flex;
  align-items: flex-start;
  gap: clamp(0.5625rem, 0.4350490196rem + 0.522875817vw, 1.0625rem);
  width: 100%;
}
@media (width <= 767px) {
  .diagnostics__list li {
    align-items: center;
  }
}
.diagnostics__list li img {
  width: auto;
  height: clamp(0.8125rem, 0.6053921569rem + 0.8496732026vw, 1.625rem);
}
.diagnostics__list-col {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: 100%;
}
.diagnostics__list-col li {
  display: flex;
  align-items: flex-start;
  gap: clamp(0.5625rem, 0.4350490196rem + 0.522875817vw, 1.0625rem);
  max-width: 31.25rem;
}
@media (width <= 767px) {
  .diagnostics__list-col li {
    align-items: center;
  }
}
.diagnostics__list-col li img {
  width: auto;
  height: clamp(0.625rem, 0.4656862745rem + 0.6535947712vw, 1.25rem);
}
.diagnostics__btn {
  max-width: clamp(19.875rem, 16.2107843137rem + 15.0326797386vw, 34.25rem);
  height: clamp(5.0625rem, 4.3933823529rem + 2.7450980392vw, 7.6875rem);
}
@media (width <= 767px) {
  .diagnostics__btn {
    max-width: 100%;
  }
}

.support {
  display: flex;
  flex-direction: column;
  gap: clamp(0.75rem, 0.3517156863rem + 1.6339869281vw, 2.3125rem);
  justify-content: center;
}
.support__items {
  display: flex;
  flex-direction: column;
  gap: clamp(0.3125rem, 0.2328431373rem + 0.3267973856vw, 0.625rem);
  width: 100%;
}
.support h2 {
  font-size: clamp(3.4375rem, 2.4019607843rem + 4.2483660131vw, 7.5rem);
  text-align: center;
}
.support__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: var(--border-radius-m);
  background-color: #646363;
  position: relative;
}
@media (width <= 767px) {
  .support__item {
    border-radius: var(--border-radius-mobile-m);
  }
}
.support__item h4 {
  font-size: clamp(0.75rem, 0.3835784314rem + 1.5032679739vw, 2.1875rem);
  font-weight: 400;
  color: var(--color-white);
}
.support__item.is-active .support__answer {
  opacity: 1;
  position: relative;
  transform: translateY(0px);
  pointer-events: auto;
}
.support__item.is-active .support__question span:nth-child(1) {
  transform: translate(-50%, -50%) rotate(90deg);
}
.support__item.is-active .support__question span:nth-child(2) {
  width: 0;
}
.support__question {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  color: var(--color-white);
  cursor: pointer;
  z-index: 2;
  padding-block: clamp(1.25rem, 0.931372549rem + 1.3071895425vw, 2.5rem);
  padding-inline: clamp(1.125rem, 0.6151960784rem + 2.091503268vw, 3.125rem);
  border-radius: var(--border-radius-m);
  background: linear-gradient(270deg, #515151 0%, #292929 100%);
}
@media (width <= 767px) {
  .support__question {
    border-radius: var(--border-radius-mobile-m);
  }
}
.support__action {
  position: relative;
  height: clamp(1rem, 0.8725490196rem + 0.522875817vw, 1.5rem);
  width: clamp(1rem, 0.8725490196rem + 0.522875817vw, 1.5rem);
  transition: var(--transition-duration);
}
.support__action span {
  background-color: var(--color-white);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
}
.support__action span:first-child {
  width: 0.1875rem;
  height: 100%;
}
.support__action span:last-child {
  width: 100%;
  height: 0.1875rem;
}
.support__answer {
  font-size: clamp(0.75rem, 0.4632352941rem + 1.1764705882vw, 1.875rem);
  color: var(--color-white);
  font-weight: 400;
  padding-block: clamp(1.25rem, 0.931372549rem + 1.3071895425vw, 2.5rem);
  padding-inline: clamp(1.125rem, 0.6151960784rem + 2.091503268vw, 3.125rem);
  opacity: 0;
  position: absolute;
  pointer-events: none;
  overflow: hidden;
  transition: all 0.3s ease;
  transform: translateY(-50px);
  z-index: 1;
}

/*# sourceMappingURL=style.css.map */
