@use '../styles/helpers' as *;

.modal {
  color: var(--color-black);
  background-color: var(--color-white);
  min-width: fluid(300, 260);
  width: fit-content;
  height: fit-content;
  padding: fluid(60,25);
  position: relative;
  margin: 0 auto;
  z-index: 99;
  border-radius: fluid(30, 15);
  box-shadow: 0 0 35px #00000010;
  transform: scale(0.9);
  transition: transform 0.3s ease;

  &--inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: fluid(40, 25);
  }
  &__heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: rem(15);
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: fluid(20,15);

    & input {
      padding-inline: fluid(20, 15);
      height: fluid(60, 30);
    }

    button {
      width: 100%;
    }
  }
  &__h3 {
    color: var(--color-dark);
  }
  &__p {
    opacity: 0.7;
  }

  .modal-overlay.is-open & {
    transform: scale(1);
  }

  &__close {
    position: absolute;
    top: rem(20);
    right: rem(20);
    width: rem(30);
    height: rem(30);
    background: transparent;
    border: none;
    cursor: pointer;

    &::before, &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 2px;
      background-color: var(--color-black);
      transition: transform 0.2s ease;
    }

    &::before { transform: translate(-50%, -50%) rotate(45deg); }
    &::after { transform: translate(-50%, -50%) rotate(-45deg); }

    &:hover {
      &::before, &::after { background-color: red; } // Пример ховера
    }
  }

  &__btn {
    height: fluid(80, 40);
  }
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 200;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: rem(20);

  // Начальное состояние (перед анимацией)
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;

  // Конечное состояние (когда добавлен класс из JS)
  &.is-open {
    opacity: 1;
    visibility: visible;
  }
}