@use '../../styles/helpers' as *;

.catalog {

  &--show-more {
    display: flex;
    flex-direction: column;
    gap: fluid(60, 12);
    align-items: center;

    & .catalog__content {
      display: flex;
      flex-direction: column;
      gap: fluid(34, 22);
      width: 100%;
    }

    & .catalog__title {
      display: inline-flex;
      justify-content: center;
      color: var(--color-black-95);
    }

    & .catalog__search {

      & input {
        @include fluid-text(30, 12);
        font-weight: 400;
      }

      & .btn {
        height: 100%;
        max-width: fluid(300, 90);
      }
    }

    & .catalog__items {
      display: flex;
      gap: fluid(26, 12);

      @include tablet {
        flex-direction: column;
      }
    }

    & .catalog__item {
      display: flex;
      flex-direction: column;
      gap: fluid(40, 12);
      padding: fluid(32, 12);
      color: var(--color-white);
      border-radius: var(--border-radius-l);
      background-color: var(--color-black-85);
      width: 100%;

      @include mobile {
        border-radius: var(--border-radius-m);
      }
    }

    & .catalog__h3 {
      color: var(--color-white);
      text-decoration-line: underline;
      text-decoration-style: dotted;
      text-decoration-color: white;
      text-decoration-thickness: 3px;
      text-underline-offset: 4px;
    }

    & .catalog__subcategories {
      @include fluid-text(26, 14);

      display: flex;
      flex-direction: column;
      gap: fluid(6, 3);
      font-weight: 400;
    }

    & .catalog__btn {
      max-width: fluid(565, 342);

      @include mobile-s {
        max-width: 100%;
      }
    }

  }
}