@use '../../styles/helpers' as *;

.burger-menu {
  width: rem(50);
  height: rem(40);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;

  & span {
    width: 100%;
    height: 3px;
    border-radius: 10px;
    background-color: var(--color-white);
  }

  @include tablet-above {
    display: none;
  }
}