@use '../../styles/helpers' as *;

.search {
  display: flex;
  height: fluid(107, 44);
  gap: fluid(37, 3);
  width: 100%;

  &__input-group {
    width: 100%;

    & input {
      padding-inline: fluid(40, 10);
    }
  }

  & button {
    @include fluid-text(30, 12);
    font-weight: 400;
  }
}