@use '../../styles/helpers' as *;

.brands {
  display: flex;
  flex-direction: column;
  gap: fluid(100, 24);
  align-items: center;

  &__title {
    @include fluid-text(121, 38);

    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
    gap: rem(5);

    & h2 {
      @include fluid-text(121, 38);
    }
  }

  &__title-flex {
    display: flex;
    width: 100%;
    align-items: center;
    gap: fluid(50, 5);
  }

  &__title-icon {
    @include fluid-text(32, 10);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(10);
    width: 100%;
    height: fluid(85, 32);

    font-family: var(--font-family-base), sans-serif;
    font-weight: 400;
    text-transform: none;

    background-color: var(--color-white);
    border-radius: var(--border-radius-s);

    & img {
      width: auto;
      height: fluid(40, 12);
    }
  }

  &__slider {

    & .swiper-slide img {
      width: auto;
      height: fluid(100, 32);
    }
  }
}