@use '../../styles/helpers' as *;

.brands {
  display: flex;
  flex-direction: column;
  gap: fluid(100, 24);
  align-items: center;

  &__title {
    @include fluid-text(121, 38);

    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
    gap: rem(5);

    & h2 {
      @include fluid-text(121, 38);
    }
  }

  &__title-flex {
    display: flex;
    width: 100%;
    align-items: center;
    gap: fluid(50, 5);
  }

  &__title-icon {
    @include fluid-text(32, 10);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(10);
    width: 100%;
    height: fluid(85, 32);

    font-family: var(--font-family-base), sans-serif;
    font-weight: 400;
    text-transform: none;

    background-color: var(--color-white);
    border-radius: var(--border-radius-s);

    & img {
      width: auto;
      height: fluid(40, 12);
    }
  }

  &__slider {
    width: 100%;
    position: relative;

    @include mobile {
      padding-inline: rem(20);
    }

    .swiper-slide {
      display: flex;
      justify-content: center;
    }

    & .swiper-slide img {
      width: fluid(283, 101);
      height: auto;
    }

    .brands-slider__nav {
      position: absolute;
      width: fit-content;
      top: 50%;
      transform: translateY(-50%);
      opacity: 0.7;
      transition: opacity 0.2s ease;
      z-index: 99;
      cursor: pointer;

      @include hover {
        opacity: 1;
      }

      &--prev {
        left: -5px;
      }

      &--next {
        right: -5px;
      }

      & img {
        height: auto;
        width: fluid(60, 24);
      }
    }

  }

}