@use '../../styles/helpers' as *;

.delivery {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: fluid(30, 20);
  background-color: var(--color-black-20);
  border-radius: var(--border-radius-l);
  height: fit-content;

  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: var(--container-padding-x);
  padding-bottom: var(--container-padding-x);

  position: relative;
  overflow: hidden;

  @include mobile {
    border-radius: var(--border-radius-m);
  }

  &__steps {
    display: flex;
    justify-content: space-between;
    gap: fluid(70, 10);
    color: var(--color-white);
    background: linear-gradient(135deg, #303030 0%, #282828 100%);
    border-radius: var(--border-radius-l);
    padding-block: fluid(80, 20);
    padding-inline: fluid(80, 20);
    position: relative;

    @include mobile {
      flex-direction: column;
      gap: rem(304);
    }

    @include mobile-s {
      gap: rem(250);

    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: fluid(50, 12);
    width: 100%;
  }

  &__heading {
    display: flex;
    flex-direction: column;
    gap: fluid(6, 1);

    & h2 {
      @include fluid-text(180, 10);
      color: var(--color-white);

      @include mobile {
        @include fluid-text(180, 55);
      }
    }

    & p {
      @include fluid-text(40, 12);
      font-weight: 400;
    }

  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: fluid(60, 12);
    padding: fluid(40, 12);
    background-color: var(--color-black-90);
    border-radius: var(--border-radius-l);

    @include mobile {
      border-radius: var(--border-radius-m);
    }

    & p {
      @include fluid-text(24, 16);
      max-width: fluid(750, 300);

      @include mobile {
        max-width: 100%;
      }
    }

  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: fluid(25, 12);
  }

  &__more {
    width: 100%;
    height: fit-content;

    border-radius: var(--border-radius-l);
    background-color: var(--color-black);

    padding-inline: fluid(60, 30);
    padding-block: fluid(36, 12);

    & ul {
      display: flex;
      flex-direction: column;
      gap: fluid(30, 15);

      & li {
        @include fluid-text(24, 16);
        list-style-type: disc;
        max-width: fluid(500, 100);

        @include mobile {
          max-width: 100%;
        }
      }
    }

    @include mobile {
      border-radius: var(--border-radius-m);
    }
  }

  &__steps-list {
    display: flex;
    flex-direction: column;
    gap: fluid(16, 10);
    width: 100%;
    max-width: fluid(560, 318);
    z-index: 2;

    @include mobile {
      max-width: 100%;
    }

    & li {
      display: flex;
      align-items: center;
      gap: fluid(35, 16);

      width: 100%;

      padding-block: fluid(25, 12);
      padding-inline: fluid(35, 20);
      background-color: var(--color-black-80);
      border-radius: var(--border-radius-l);

      @include mobile {
        border-radius: var(--border-radius-m);
      }
    }

    & li p {
      @include fluid-text(24, 16);
      font-weight: 400;
    }
  }

  &__step-img {
    width: fluid(93, 53);
    height: fluid(93, 53);

    position: relative;

    & img {
      width: auto;
      height: fluid(93, 53);
    }

    & span {
      @include fluid-text(33, 18);
      @include abs-center();
    }
  }

  &__cargo-img {
    position: absolute;
    width: auto;
    height: fluid(782, 254);
    bottom: -50px;
    right: 25%;
    z-index: 1;

    @include laptop{
      right: 20%;
    }

    @include mobile{
      right: -30px;
      top: 40%;
      transform: translateY(-30%);
      z-index: 3;
    }

    @include mobile-s {
      top: 42%;
    }
  }

  &__payment {
    display: flex;
    gap: fluid(76, 10);
    color: var(--color-black-95);
    padding-inline: fluid(80, 20);
    justify-content: space-between;
    position: relative;

    @include mobile {
      flex-direction: column;
    }

    @include mobile-s {
      gap: rem(200);
    }

    & .delivery__content {
      gap: fluid(60, 20);
      order: 1;
    }

    & .delivery__heading {
      gap: fluid(43, 22);

      & p {
        @include fluid-text(24, 16);
        font-weight: 400;
      }
    }

    & .delivery__title {
      display: flex;
      flex-direction: column;
      gap: rem(5);

      & h2 {
        @include fluid-text(180, 10);
        color: var(--color-black-95);

        @include mobile {
          @include fluid-text(180, 55);
        }
      }

      & p {
        @include fluid-text(40, 12);
        font-weight: 400;
      }

    }

    & .delivery__subtitle {
      max-width: fluid(582, 300);
    }

    & .btn {
      max-height: fluid(123, 84);
      max-width: fluid(548, 318);

      @include mobile {
        max-width: 100%;
      }
    }

  }

  &__methods {
    display: flex;
    flex-direction: column;
    gap: fluid(30, 15);

    padding: fluid(35, 15);
    background-color: #EEEEEE;
    border-radius: var(--border-radius-l);

    @include mobile {
      border-radius: var(--border-radius-m);
    }

    & h3 {
      max-width: fluid(393, 182);
    }

    & .items {
      display: flex;
      flex-direction: column;
      gap: fluid(10, 5);
    }

    & .item {
      display: flex;
      align-items: center;
      gap: fluid(17, 9);
      max-width: rem(500);

      & img {
        width: auto;
        height: fluid(26, 13);
      }
    }

  }

  &__phone {
    display: flex;
    align-items: center;
    gap: fluid(20, 9);

    & img {
      width: auto;
      height: fluid(23, 13);
    }
  }

  &__cash-img {
    position: absolute;
    width: auto;
    height: fluid(536, 150);
    bottom: -119px;
    right: -60px;

    @include mobile {
      top: 20%;
      transform: translateY(-20%);
      z-index: 1;
    }

    @include mobile-s {
      top: 35%;
      height: fluid(536, 230);
      transform: translateY(-38%);
      right: -25px;
    }
  }

  &__payment-inner {
    display: contents;

    @include mobile {
      display: flex;
      flex-direction: column;
      gap: rem(12);
      order: 2;
      z-index: 2;
    }
  }

}